<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>孙子涵</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>唐人.lrc</string>
		<key>fileName</key>
		<string>孙子涵 - 唐人.mp3</string>
		<key>name</key>
		<string>唐人</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>薛之谦</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>演员.lrc</string>
		<key>fileName</key>
		<string>薛之谦 - 演员.mp3</string>
		<key>name</key>
		<string>演员</string>
	</dict>
	<dict>
		<key>singer</key>
		<string>林宥嘉</string>
		<key>singerIcon</key>
		<string>photo.jpeg</string>
		<key>lrcName</key>
		<string>残酷月光.lrc</string>
		<key>fileName</key>
		<string>林宥嘉-残酷月光.mp3</string>
		<key>name</key>
		<string>残酷月光</string>
	</dict>
</array>
</plist>
